.header{
    height: 250px;
    background-image: url('../IMG_20211027_090842.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    
}

h3{
    color: magenta;
}
p{
    color: blueviolet;
   
}
